<div class="container">

  <div class="container-animation">
    <div class="animation">
      <p class="animationtxt">alex:~$ CAT PORTFOLIO.TXT</p>
    </div>
  </div>

  <div class="wrapper" >
    <p class="title">/alex.pablo</p>
    <p class="introducedName">
      Te doy la bienvenida a mi sencillo hogar, visitante. Me llamo
      <span class="name">Alex Pablo</span>
    </p>
    <p class="introducedTech">
      ¡Bienvenidos a mi aventura! Soy un estudiante de Ingeniería en Sistemas que
      se embarcó en el fascinante viaje de la programación en 2020. Para mí, la
      tecnología es mucho más que líneas de código; es la emocionante travesía de
      convertir cualquier chispa de imaginación en una realidad palpable.
    </p>
  
    <p class="introducedTech">
      Cuando no estoy inmerso en el fascinante mundo de la codificación, me
      aventuro explorando nuestro planeta, capturando recuerdos con cada
      fotografía que tomo. Además, me sumerjo en la creación de mundos totalmente
      nuevos a través de apasionantes diseños en 3D.
    </p>
  
    <div class="wrapper-links">
      <p  class="name aventure">Mis Aventuras</p>
      <a href="https://platzi.com/p/alexpa1/" class="link" target="_blank">#cursos online /platzi</a>
      <a href="https://twitter.com/AlexP4blo" class="link" target="_blank">#twitter</a>
      <a href="https://github.com/Alex-Pablo" class="link" target="_blank">#github</a>
      <a href="https://www.amazon.com/-/es/Daniel-Kahneman/dp/8483068613" class="link" target="_blank">#libro que estoy leyendo</a>
    </div>
  
    <app-command></app-command>
  </div>

</div>