/* You can add global styles to this file, and also import other style files */

body.dark-theme{
    --background-color:#3b425c;
    --txtcolor-celeste:#83e4cd;
    --txtcolor-white: #f7f7f8;
    --txtcolor-morado: #AEA3FD;
    --txtcolor-gris: #D7D6E0;
    --txtcolor-red: #f8c3c3;
    --txtcolor-moradoLight: #a39fbb;
    --txtcolor-moradoDark:#705fce77;
    --textcolor-orange:#c7954a;
}



@font-face{
    font-family: 'SignikaBold';
    src: url(./assets/font/Signika-Bold.otf);
    font-display: 'swap';
}

@font-face{
    font-family: 'SignikaSemibold';
    src: url(./assets/font/Signika-Semibold.otf);
    font-display: 'swap';
}

@font-face{
    font-family: 'SignikaRegular';
    src: url(./assets/font/Signika-Regular.otf);
    font-display: 'swap';
}

@font-face{
    font-family: 'SignikaLight';
    src: url(./assets/font/Signika-Light.otf);
    font-display: 'swap';
}



*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
html{
    color-scheme: dark light;
}
body {
    min-height: 100vh;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}